.back{
    position: fixed;
    font-size: 140%;
    color: black;
    top: 13%;
    left: 4%;
}
.a{
    position: absolute;
    color: black;
    top: 15%;
    left: 32%;
}
.pic{
    position: absolute;
    border: 1px solid black;
    top:25%;
    left:39%;
}
.b{
    position: absolute;
    color: black;
    top: 75%;
    left: 32%;
}
.c{
    position: absolute;
    font-size: 140%;
    color: black;
    top: 83%;
    left: 32%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.d{
    position: absolute;
    font-size: 110%;
    color: black;
    top: 89%;
    left: 32%;
}
.e{
    position: absolute;
    font-size: 120%;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 108%;
    left: 32%;
}
.f{
    position: absolute;
    font-size: 110%;
    color: black;
    top: 112%;
    left: 34%;
    padding: 0 0 15% 0;
   
}
.g{
    position: absolute;
    background-color: #B45D59;
    height: 7%;
    width: 4%;
    border: 1px solid #B45D59;
    top:124%;
    left:34%;
}
.g1{
    position: absolute;
    font-size: 130%;
    color: black;
    top:132%;
    left: 35.4%;
}
.h{
    position: absolute;
    background-color: #EC9598;
    height: 7%;
    width: 4%;
    border: 1px solid #EC9598;
    top:124%;
    left:39%;
}
.h1{
    position: absolute;
    font-size: 130%;
    color: black;
    top:132%;
    left: 40%;
}
.i{
    position: absolute;
    background-color: #ED8BAD;
    height: 7%;
    width: 4%;
    border: 1px solid #ED8BAD;
    top:124%;
    left:44%;
}
.i1{
    position: absolute;
    font-size: 130%;
    color: black;
    top:132%;
    left: 45.4%;
}
