.back{
    position: fixed;
    font-size: 140%;
    color: black;
    top: 13%;
    left: 4%;
}
.a{
    position: absolute;
    color: black;
    top: 15%;
    left: 32%;
}
.pic{
    position: absolute;
    border: 1px solid black;
    top:25%;
    left:39%;
}
.b{
    position: absolute;
    color: black;
    top: 75%;
    left: 32%;
}
.c{
    position: absolute;
    font-size: 140%;
    color: black;
    top: 83%;
    left: 32%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.d{
    position: absolute;
    font-size: 110%;
    color: black;
    top: 89%;
    left: 32%;
}
.e{
    position: absolute;
    font-size: 120%;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 108%;
    left: 32%;
}
.f{
    position: absolute;
    font-size: 110%;
    color: black;
    top: 112%;
    left: 34%;
    padding: 0 0 15% 0;
   
}
.g{
    position: absolute;
    background-color: #8F3E35;
    height: 7%;
    width: 4%;
    border: 1px solid #8F3E35;
    top:132%;
    left:34%;
}
.g1{
    position: absolute;
    font-size: 130%;
    color: black;
    top:140%;
    left: 35%;
}
.h{
    position: absolute;
    background-color: #c15c40;
    height: 7%;
    width: 4%;
    border: 1px solid #c15c40;
    top:132%;
    left:39%;
}
.h1{
    position: absolute;
    font-size: 130%;
    color: black;
    top:140%;
    left: 40%;
}
.i{
    position: absolute;
    background-color: #ae5953;
    height: 7%;
    width: 4%;
    border: 1px solid #ae5953;
    top:132%;
    left:44%;
}
.i1{
    position: absolute;
    font-size: 130%;
    color: black;
    top:140%;
    left: 45%;
}
.j{
    position: absolute;
    background-color: #b05649;
    height: 7%;
    width: 4%;
    border: 1px solid #b05649;
    top:132%;
    left:49%;
}
.j1{
    position: absolute;
    font-size: 130%;
    color: black;
    top:140%;
    left: 50%;
}
.k{
    position: absolute;
    background-color: #d26b79;
    height: 7%;
    width: 4%;
    border: 1px solid #d26b79;
    top:132%;
    left:54%;
}
.k1{
    position: absolute;
    font-size: 130%;
    color: black;
    top:140%;
    left: 55%;
}
.l{
    position: absolute;
    background-color: #A94859;
    height: 7%;
    width: 4%;
    border: 1px solid #A94859;
    top:132%;
    left:59%;
}
.l1{
    position: absolute;
    font-size: 130%;
    color: black;
    top:140%;
    left: 60%;
}